[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
