[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/l9"]
	path = bundle/l9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:mottram/snipmate.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/jekyll"]
	path = bundle/jekyll
	url = git@github.com:mottram/jekyll.vim.mottram.git
